*{
    padding:0;
    margin:0;
}
a{
    color: white;
}
h1,h3{
    color:#f64c72;
}
.navbar{
    text-decoration-color: aliceblue;
    background-color: #242582;
    height:80px;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    margin-bottom: 2%;
}
.footer {
    height: 35vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #242582;
    color: aliceblue;
    margin-bottom: 0%;
  }
  
  .social {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;
    height: 80%;
    width: 15%;
  }
  .usefulLinks {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    height: 80%;
    width: 15%;
  }
  .siteMap {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    height: 80%;
    width: 15%;
  }
  
  .socialMediaIcon {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    object-fit: contain;
  }
  
  .socialMediaIcon > img {
    height: 100%;
    width: 23%;
    object-fit: cover;
    margin-right: 10px;
  }